body{
    color: white;
    font-family: sans-serif;                                         
}
::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb:horizontal{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}